/********************
	RESET
*********************/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary, time, mark, audio, video
{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section
{
	display: block;
}

body
{
	line-height: 1;
}

ol, ul
{
	list-style: none;
}

blockquote, q
{
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after
{
	content: '';
	content: none;
}

table
{
	border-collapse: collapse;
	border-spacing: 0;
}

strong
{
	font-weight: bold;
}

/********************
	Main
*********************/

@font-face
{
	font-family: 'Doppio One';
	font-style: normal;
	font-weight: 400;
	src: local('Doppio One Regular'), local('DoppioOne-Regular'), url(DoppioOne-Regular.woff) format('woff');
}

@font-face
{
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: local('Open Sans'), local('OpenSans'), url(Open Sans.woff) format('woff');
}

#header
{
	background: url(images/headerbanner.png) center center no-repeat;
}

.lightbox:not(.alt):before
{
	background: url("images/gallery_hover.png") no-repeat scroll center center rgba(0, 0, 0, 0.8);
	bottom: 0;
	content: "";
	left: 0;
	margin: auto;
	position: absolute;
	right: 0;
	top: 0;
	opacity: 0;
	visibility: hidden;
	transition: 0.4s all;
}

.lightbox:not(.alt):hover:before
{
	opacity: 1;
	visibility: visible;
}

.lightbox
{
	display: inline-block;
	position: relative;
}

.lightbox > img
{
	display: block;
}

.borderBox
{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.ellipsis
{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.inlineContainer
{
	letter-spacing: -0.31em;
}

.inlineContainer > *:not(.inlineContainer)
{
	letter-spacing: normal;
}

a
{
	color: #37a8d2;
	text-decoration: none;
	transition: 0.2s color;
}

a:hover
{
	color: red;
}

body
{
	background: url(images/background.jpg);
	font-family: Open Sans, sans-serif;
	color: #798896;
	font-size: 13px;
	line-height: 25px;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

h1, h2, h3, h4, h5
{
	font-family: Doppio One;
}

input[type='text'], textarea, select
{
	border: 1px solid #c6c9cd;
	color: #7f8183;
	padding: 3px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	box-shadow: 0 2px 6px -4px #A7A0A0 inset;
	transition-property: border-color, color, width, height;
	transition-duration: 0.3s, 0.3s, 0s, 0s;
}

input[type='text']:hover, textarea:hover, select:hover
{
	border-color: #a7aaaf;
}

input[type='text']:active, input[type='text']:focus, textarea:active, textarea:focus, select:active, select:focus
{
	border-color: #0073d4;
	color: #484b4e;
}

.generalButton
{
	padding: 5px 15px;
	color: white;
	font-family: Open Sans;
	font-weight: bold;
	display: inline-block;
	background-color: #37a8d2;
	border: none;
	cursor: pointer;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	text-transform: uppercase;
	transition: 0.3s linear;
}

.generalButton:hover
{
	background-color: #04B8F4;
	color: white;
}

#slidebox .left div, #slidebox .right div
{
	border-radius: 20%;
	border: 1px solid blue;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
	opacity: 0;
}

#slidebox .left:not(:active) div, #slidebox .right:not(:active) div
{
	/*
	animation: animationFrames ease-in-out 0.4s;
	-webkit-animation: animationFrames ease-in-out 0.4s;
	*/
}

@keyframes animationFrames
{
	50%
	{
		transform: scaleX(1.2) scaleY(1.2);
		opacity: 1;
	}

	100%
	{
		transform: rotate(0deg) scaleX(1) scaleY(1);
		opacity: 0;
	}
}

@-webkit-keyframes animationFrames
{
	50%
	{
		-webkit-transform: scaleX(1.2) scaleY(1.2);
		opacity: 1;
	}

	100%
	{
		-webkit-transform: rotate(0deg) scaleX(1) scaleY(1);
		opacity: 0;
	}
}

.mainWidth
{
	max-width: 1000px;
}

#header
{
	height: 300px;
}

#content
{
	margin: 0 auto;
}

#mainbody
{
	background-color: white;
	padding: 20px;
}

#navToggle, label[for='navToggle']
{
	display: none;
}

label[for='navToggle']
{
	background: url("images/list.png") no-repeat center center white;
	/*border: 1px solid #C6C9CD;*/
	height: 32px;
	width: 32px;
	/*max-width: 350px;*/
	cursor: pointer;
}

#mainNav
{
	position: relative;
}

#mainNav > ul
{
	overflow: hidden;
	background: linear-gradient(to bottom, #D1D3D7, #D1D3D7) no-repeat bottom / 100% 4px, linear-gradient(to bottom, #F9F9F9, #E4E4E4) top / 100%;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#e4e4e4', GradientType=0 );
	border-radius: 5px 5px 0 0;
}

#mainNav li
{
	box-shadow: 1px 0 0 #D1D3D7;
	border-bottom: 4px solid #D1D3D7;
}

#mainNav li, #mainNav a
{
	display: inline-block;
	text-transform: uppercase;
	font-weight: bold;
	color: #9097a3;
}

#mainNav a:not([href])
{
	cursor: default;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#mainNav a, .menu a
{
	padding: 0 1.5em;
	font-size: 1em;
	line-height: 3em;
	transition: color 0s;
}

#mainNav a:active
{
	outline: none;
}

#mainNav li.selected
{
	background-image: linear-gradient(to bottom, lightgrey, white);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#D3D3D3', endColorstr='#ffffff', GradientType=0 );
}

#mainNav li.selected a
{
	color: #68707c;
}

#mainNav > ul > li:hover:not(.selected)
{
	background-image: linear-gradient(to bottom, #0084FF, #00A6FF);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0084FF', endColorstr='#00A6FF', GradientType=0 );
	border-color: #098BD0;
}

#mainNav > ul > li:hover:not(.selected) > a, #mainNav > ul > li:hover:not(.selected) .username
{
	color: white;
}

.submenu
{
	position: absolute;
	display: block;
	z-index: 1000;
	background-color: #0073d4;
	visibility: hidden;
	opacity: 0;
	transition: 0.3s opacity linear;
}

.submenu.right
{
	margin-left: 0;
	right: 0;
}

/* First selector needed to override specificity */
#mainNav .submenu li, .submenu li
{
	display: block;
	border-bottom: 1px solid #037be1;
	box-shadow: none;
}

#mainNav .submenu a, .submenu a
{
	min-width: 10em;
	font-weight: normal;
	text-transform: none;
	color: #8ab9e0;
}

.submenu li:hover
{
	background-color: #0667b9;
}

#mainNav .submenu li:hover a, .submenu li:hover a
{
	color: #fff;
}

#userNavigation
{
	float: right;
}

#userNavigation .username
{
	display: inline-block;
	line-height: 3em;
	padding-right: 10px;
	cursor: default;
}

#userNavigation .avatarWrap
{
	position: relative;
	margin: 0 10px;
	border-radius: 3px;
	overflow: hidden;
}

#userNavigation .avatar, #userNavigation .avatarWrap
{
	width: 35px;
	height: 35px;
	display: inline-block;
	vertical-align: middle;
}

#userNavigation .avatarWrap .messages
{
	background-color: red;
	color: white;
	border-radius: 3px;
	position: absolute;
	bottom: 0;
	padding: 0 3px;
	font-size: 0.8em;
	line-height: normal;
}

#userNavigation .submenu .messages
{
	color: red;
}

#slidebox
{
	background-color: #3d4456;
	padding: 20px;
}

#slidebox .inner
{
	background-color: #a3a9b4;
	height: 250px;
	position: relative;
}

#slidebox .left, #slidebox .right
{
	width: 35px;
	height: 35px;
	background: url(images/arrow_left_open.png) no-repeat center center #37a8d2;
	margin: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	cursor: pointer;
	z-index: 10;
	opacity: 0.6;
	transition: 0.2s opacity linear;
	
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#slidebox .left:hover, #slidebox .right:hover
{
	opacity: 1;
}

#slidebox .right
{
	right: 0;
	background-image: url(images/arrow_right_open.png);
}

#slidebox .slideImage
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
	transition: 0.8s all linear;
	visibility: hidden;
	opacity: 0;
}

#slidebox .slideImage img
{
	width: 100%;
	height: 100%;
}

#slidebox .slideImage.selected
{
	visibility: visible;
	opacity: 1;
}

#slidebox .caption
{
	padding: 5px;
	position: absolute;
	overflow: hidden;
	width: 50%;
	max-height: 50%;
	left: 50px;
	bottom: 60px;
	background-color: rgba(0, 0, 0, 0.7);
	color: white;
	font-size: 20px;
	font-family: Doppio One;
	z-index: 5;
}

#slidebox .readMore
{
	position: absolute;
	bottom: 20px;
	right: 50px;
	z-index: 5;
}

.leftColumn, .rightColumn
{
	display: inline-block;
	vertical-align: top;
}

.leftColumn
{
	width: calc(100% - 300px);
	padding-right: 20px;
}

.rightColumn
{
	width: 300px;
}

#sidebar h3
{
	font-size: 14px;
}

#sidebar h3 a
{
	display: block;
	text-transform: uppercase;
}

#sidebar .entry
{
	border-bottom: 2px dotted #d5dae2;
	margin: 20px 0;
	padding: 0 10px 20px;
}

h1
{
	background-color: #119ddf;
	background-position: 92% center;
	background-repeat: no-repeat;
	color: #FFFFFF;
	font-size: 17px;
	line-height: 2em;
	padding: 0 1em;
	text-transform: uppercase;
	margin-bottom: 20px;
	position: relative;
	border-radius: 5px 5px 0 0;
}

h1.mail
{
	background-image: url("images/mail.png");
}

h1.picture
{
	background-image: url("images/picture.png");
}

h1.alt
{
	background-color: #f52626;
}

.sectionHeader
{
	position: relative;
}

.sectionHeader .subtext
{
	font-family: Open Sans;
	font-weight: bold;
	font-size: 13px;
	color: #9cd0e8;
	margin-left: 30px;
	position: absolute;
	right: 50px;
	width: 55%;
}

.menu
{
	background: url("images/arrow_down.png") no-repeat center center, url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI4MCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4wNSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuNSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+');
	background: url("images/arrow_down.png") no-repeat center center, linear-gradient(to bottom, rgba(0, 0, 0, 0.02) 80%, rgba(0, 0, 0, 0.1)) #119DDF;
	border-left: 1px solid #8BCBE8;
	position: absolute;
	bottom: 0;
	right: 0;
	top: 0;
	width: 40px;
	cursor: pointer;
	border-radius: 0 5px 0 0;
}

.menu:hover
{
	background-color: #0073d4;
}

.menu ul
{
	font-size: 13px;
	text-transform: none;
	margin-top: 34px;
	width: 150px;
}

.menu:hover ul
{
	display: block;
}

#sidebar h1
{
	text-transform: none;
}

#sidebar .entry.gallery
{
	padding: 0;
	margin-left: -17px;
	border-bottom: none;
	text-align: center;
}

#sidebar .lightbox
{
	display: inline-block;
	margin: 0 0 17px 17px;
	width: 140px;
	height: 140px;
	vertical-align: top;
}

#sidebar img
{
	width: 140px;
	height: 140px;
}

.leftColumn article
{
	padding-bottom: 20px;
	margin-bottom: 20px;
}

.leftColumn article:not(:last-of-type)
{
	border-bottom: 2px solid #d5dae2;
}

.pagination a
{
	font-size: 15px;
	padding: 0.3em .8em;
	border: 1px solid #c6c9cd;
	background-color: #f0f3f7;
	color: #9097a3;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	display: inline-block;
}

.pagination .disabled
{
	border-color: #d4dae4;
	color: #c7cfdb;
}

.pagination .current, .pagination a:hover:not(.disabled)
{
	background-color: #0073d4;
	border-color: #0073d4;
	color: white;
}

.pagination span
{
	font-size: 14px;
	margin-left: 10px;
}

#secondaryFooter
{
	background-color: #3d4456;
	padding: 10px;
	margin-top: 20px;
}

#footer h2, #secondaryFooter h2
{
	color: white;
	font-size: 17px;
	margin-bottom: 10px;
}

#secondaryFooter h2
{
	padding: 10px 0;
	border-bottom: 2px dotted #1d253d;
}

#secondaryFooter .rightColumn p
{
	margin: 10px 0;
}

#secondaryFooter .media
{
	position: relative;
}

#secondaryFooter .media img
{
	width: 100%;
	height: 100%;
}

#secondaryFooter .media a
{
	display: block;
}

#secondaryFooter .media .left
{
	width: 65%;
}

#secondaryFooter .media a.right
{
	position: absolute;
	right: 0;
	top: 0;
	height: calc(50% - 5px);
	width: calc(100% - 65% - 10px);
}

#secondaryFooter .media a.right:last-child
{
	bottom: 0;
	top: auto;
}

#footer
{
	margin: 0 auto 35px;
	line-height: 25px;
	padding: 20px;
}

#footer .social
{
	margin-top: 10px;
}

#footer .social a
{
	display: block;
	line-height: 0;
}

#footer .social li
{
	display: inline-block;
}

#footer .leftColumn
{
	padding: 0;
}

#footer .info, #footer .about
{
	display: inline-block;
	width: 49%;
	vertical-align: top;
}

#footer .about
{
	padding: 0 10px;
	font-size: 12px;
}

#footer .info
{
	background: url(images/footer_logo.png) center no-repeat;
	height: 188px;
}

#footer .siteMap ul
{
	display: inline-block;
	width: 48%;
}

#footer .siteMap a
{
	text-transform: uppercase;
	color: inherit;
	font-weight: bold;
}

#footer .siteMap a:hover
{
	color: #37a8d2;
}

article .tag
{
	color: white;
	background-color: #4a6da6;
	padding: 1px 6px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	text-transform: uppercase;
}

article .tag.red
{
	background-color: #BC4545;
}

article .tag.purple
{
	background-color: #8532BB;
}

article h3
{
	font-size: 1.5em;
	line-height: 1.2em;
	padding-bottom: 10px;
}

/********************
	News
*********************/

.news .details, .news .post
{
	display: inline-block;
	vertical-align: top;
}

.news .post
{
	width: calc(100% - 130px);
	padding-left: 20px;
	font-family: Open Sans;
}

.news .post p img
{
	width: 100%;
}

.news .details
{
	width: 130px;
}

.news .image
{
	height: 130px;
	width: 130px;
	margin: 0 auto;
	position: relative;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background-color: grey;
}

.news .image img
{
	height: 130px;
	width: 130px;
	display: block;
}

.news .image .tag
{
	position: absolute;
	right: 0;
}

.news .author, .news .details .comments
{
	display: block;
	font-weight: bold;
	text-align: left;
	width: 100%;
	padding: 5px 5px 5px 32px;
	border-bottom: 1px solid #d5dae2;
	background: 8px center/16px 16px no-repeat;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.news .author:active, .news .details .comments:active
{
	outline: none;
}

.news .author
{
	background-image: url("images/user.png");
}

.news .details .comments
{
	background-image: url("images/comments.png");
}

.news .bottom
{
	text-align: right;
	padding-top: 20px;
}

.news .showMore
{
	background-color: #d5dae2;
	border-radius: 0 0 3px 3px;
	border-bottom: 1px solid #cacfd7;
	color: #798896;
	display: block;
	font-size: 0.8rem;
	font-weight: bold;
	padding: 10px;
	text-align: center;
	text-transform: uppercase;
	width: 100%;
	transition: 0.2s linear;
}

.news .showMore:hover
{
	background-color: #e8ebf0;
}

/********************
	Article
*********************/

.articleHeader
{
	width: 100%;
	height: 200px;
	display: block;
	margin-bottom: 20px;
	background-color: lightgrey;
}

.article h2
{
	display: inline;
	vertical-align: top;
	color: #5f7095;
}

.article h4
{
	margin-top: 15px;
	padding: 15px 0;
	border-top: 1px solid #d5dae2;
	font-size: 14px;
	font-family: Open sans;
	font-weight: bold;
}

#comments > h3
{
	border-bottom: 1px solid #D5DAE2;
	border-top: 1px solid #D5DAE2;
	color: #344E6A;
	font-size: 20px;
	padding: 15px 0;
	text-transform: uppercase;
}

.articleBody
{
	padding-bottom: 15px;
}

.comment
{
	padding: 20px 0;
	border-bottom: 1px solid #D5DAE2;
}

.comment .avatar
{
	width: 60px;
	height: 60px;
	display: inline-block;
	vertical-align: top;
	background-color: lightgrey;
}

.comment .rightSide
{
	display: inline-block;
	width: calc(100% - 70px);
	padding-left: 5px;
}

.comment .user
{
	font-family: Doppio One;
	font-size: 20px;
}

.comment .right
{
	float: right;
}

.comment p
{
	clear: both;
}

.comment .replyButton
{
	text-transform: uppercase;
	font-weight: bold;
}

.comment time
{
	margin-right: 5px;
}

.comment .reply
{
	margin-left: 10px;
	margin-top: 20px;
	background-color: #119ddf;
	padding: 10px;
	color: white;
}

.comment .reply a
{
	color: #89D9FF;
}

.comment .reply a:hover
{
	color: #fff;
}

#replyBox .info
{
	margin: 20px 0;
}

#replyBox input[type='text']
{
	margin-right: 10px;
}

#replyBox textarea
{
	width: 100%;
	height: 200px;
	resize: vertical;
	display: block;
}

#replyBox .bottom
{
	margin-top: 20px;
	text-align: right;
}

/********************
	Profile
*********************/

.userProfile h2
{
	font-size: 20px;
	color: #5f7095;
	padding: 20px 0 20px 50px;
	background: no-repeat 8px 18px;
}

.userInfo h2
{
	padding: 20px;
	border: 1px solid #d5dae2;
}

.userProfile .userGallery h2
{
	background-image: url(images/slideshow.png);
}

.userProfile .aboutUser h2
{
	background-image: url(images/info.png);
}

.userProfile .news h2
{
	background-image: url(images/open_book.png);
}

.userInfo .avatar
{
	width: 214px;
	height: 214px;
	background-color: lightgrey;
	display: inline-block;
	vertical-align: top;
}

.userInfo .right
{
	display: inline-block;
	width: calc(100% - 230px);
	margin-left: 10px;
}

.userInfo .status
{
	text-transform: uppercase;
	font-size: 13px;
	color: red;
	vertical-align: top;
}

.status.online
{
	color: #3bc7a8;
}

.userInfo p
{
	
}

.userGallery .lightbox
{
	width: 140px;
	height: 140px;
	margin: 0 20px 20px 0;
	display: inline-block;
	vertical-align: top;
}

.userGallery img
{
	width: 100%;
	height: 100%;
	background-color: lightgrey;
}

.aboutUser li
{
	font-size: 15px;
	background: no-repeat 10px 0;
	padding-left: 50px;
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid #d5dae2;
}

.aboutUser .date
{
	background-image: url(images/date.png);
}

.aboutUser .male
{
	background-image: url(images/male_sign.png);
}

.aboutUser .twitter
{
	background-image: url(images/twitter_icon.png);
}

.aboutUser .location
{
	background-image: url(images/map_pin.png);
}

.aboutUser .education
{
	background-image: url(images/graduate.png);
}

.aboutUser .website
{
	background-image: url(images/browser.png);
}


.aboutUser .facebook
{
	background-image: url(images/facebook_icon.png);
}

/********************
	Gallery
*********************/

.gallery .headerWrap
{
	position: relative;
}

.gallery .search
{
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	font-size: 0;
	border-left: 1px solid #3ca7d9;
	background-color: #0f8ac4;
	-webkit-border-radius: 0 3px 0 0;
	-moz-border-radius: 0 3px 0 0;
	border-radius: 0 3px 0 0;
}

.search input[type="text"]
{
	height: 100%;
	width: 250px;
	background-color: transparent;
	border: none;
	color: #9cd0e8;
	padding-left: 20px;
	vertical-align: top;
	transition: 0.2s width linear;
}

.search input[type="text"]::-webkit-input-placeholder
{
	color: #9cd0e8;
}

.search input[type="submit"]
{
	background: url(images/search.png) no-repeat center center;
	border: none;
	padding: 0;
	width: 30px;
	height: 100%;
	opacity: 0.58;
}

.search input[type="submit"]:hover, .search input[type="submit"]:focus
{
	opacity: 1;
}

.galleryImages
{
	margin-left: -20px;
	text-align: center;
}


.galleryImages a, .galleryImages a img
{
	width: 294px;
	height: 294px;
	display: inline-block;
}

.galleryImages a
{
	margin: 0 0 20px 20px;
	position: relative;
	vertical-align: top;
}

.galleryImages .overlay
{
	display: block;
	visibility: hidden;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background: url(images/gallery_hover.png) no-repeat center center rgba(0, 0, 0, 0.8);
	color: white;
	font-size: 20px;
	padding: 20px;
	transition: 0.4s all;
	opacity: 0;
}

.galleryImages a:hover .overlay
{
	visibility: visible;
	opacity: 1;
}

.galleryImages .caption
{
	padding-bottom: 20px;
	border-bottom: 1px solid #444444;
	max-height: 90%;
	overflow: hidden;
}

/********************
	Resizing
*********************/

@media all and (min-width: 901px)
{
	*:hover > .submenu
	{
		visibility: visible;
		opacity: 1;
		transition-delay: 0.3s;
	}
}

@media all and (max-width: 900px)
{
	label[for='navToggle']
	{
		display: block;
	}

	#mainNav
	{
		display: none;
		width: 100%;
		max-width: 350px;
		z-index: 1000;
	}
	
	/*#navToggle:checked ~ #mainNav*/
	#mainNav.expanded
	{
		display: block;
	}
	
	#mainNav > ul
	{
		border-radius: 0;
	}

	#mainNav li, #mainNav a
	{
		display: block;
	}
	
	#mainNav .submenu
	{
		position: static;
		transition: 0s;
		display: none;
	}
	
	#mainNav li.expanded .submenu, .menu.expanded .submenu
	{
		visibility: visible;
		opacity: 1;
		display: block;
	}
	
	#userNavigation
	{
		float: none;
	}
	
	 .menu.expanded
	{
		background-color: #0073d4;
	}
	
	#mainNav > ul > li.expanded:not(.selected)
	{
		background-image: linear-gradient(to bottom, #0084FF, #00A6FF);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0084FF', endColorstr='#00A6FF', GradientType=0 );
		border-color: #098BD0;
	}

	#mainNav > ul > li.expanded:not(.selected) > a, #mainNav > ul > li.expanded:not(.selected) .username
	{
		color: white;
	}
}

@media all and (max-width: 760px)
{
	#secondaryFooter .media
	{
		text-align: center;
	}
	
	#secondaryFooter .media .left
	{
		width: 100%;
	}
	
	#secondaryFooter .media .right
	{
		
	}
	
	#secondaryFooter .media img
	{
		height: auto;
	}
	
	#secondaryFooter .media a.right
	{
		position: relative;
		width: 100%;
	}
	
	#secondaryFooter .media a.right:not(:first-child):not(:last-child)
	{
		margin: 12px 0;
	}
}

@media all and (max-width: 640px)
{
	.leftColumn
	{
		padding-right: 0;
		padding-bottom: 10px;
		width: 100%;
	}
	
	.rightColumn
	{
		display: block;
		width: 100%;
	}
	
	#footer .info, #footer .about
	{
		width: 100%;
		padding: 0;
	}
	
	.userInfo .right
	{
		margin-left: 0;
		margin-top: 10px;
		display: block;
		width: auto;
	}
	
	.userInfo .avatar
	{
		display: block;
		margin: auto;
	}
	
	.userGallery
	{
		text-align: center;
	}
	
	.userGallery h2
	{
		text-align: left;
	}
}

@media all and (max-width: 420px)
{
	.news .details, .news .post
	{
		display: block;
		width: auto;
	}
	
	h1 .subtext
	{
		display: block;
		margin: 0;
		position: static;
		white-space: normal;
		width: 100%;
	}
	
	.search input[type="text"]
	{
		width: 150px;
	}
}